@media (max-width: $screen-md-min)  {
    .infobox-right {
        background-color: $gray-lighter;
    }
    .infobox-left {
        background-color: $white;
        border-right: 1px solid $gray-light;
        margin-top: 0;
    }
    
    article{
    padding: 0 20px 20px;
    margin: 10px !important;
	width: auto !important;
	display: block !important;
    
    & img {
        margin: auto;
        width: 100%;        
        }    
    }
    article.detail{
        img {
        margin: 15px 0 !important;
        }
    }
    .wrapper {
        width: auto;
    }
    
    .text-right{
        text-align: center
    }
    
    .block-f{
        padding: 0 15px 15px;
        display: block;
    }
}