$purple-shade2: #2b143a;
$purple-shade1: #411456;
$purple:        #5487AF;
$purple-tint1:  #78538f;
$purple-tint2:  #9a7eab;

$cyan-shade2:   #005778;
$cyan-shade1:   #0083b3;
$cyan:          #00aeef;
$cyan-tint1:    #33bef2;
$cyan-tint2:    #99dff9;

$grey-shade2:   #2b3133;
$grey-shade1:   #566266;
$grey:          #d5d5d5;
$grey-tint1:    #c6cacc;
$grey-tint2:    #ebf0f2;
$grey-tint3:    #eef3f5;

$white:         #ffffff;

$green-shade2:  #24520b;
$green-shade1:  #367b10;
$green:         #48a415;
$pink:          #ec008c;